# Flight Status - Final Project

In [8]:
import os
import shutil
import warnings
import zipfile

import pandas as pd
#import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import opendatasets as od

from sqlalchemy import create_engine
import psycopg2
from dotenv import load_dotenv
import sqlite3

warnings.filterwarnings('ignore')

## TAS-12 Data Acquisition

### Data Acquisition - Use Kaggle API

[How to use Kaggle API - Step-by-step guide](https://www.geeksforgeeks.org/how-to-download-kaggle-datasets-into-jupyter-notebook/)

Since almost all combined CSV files are larger than 60k records and more than 20 columns the best course of action would be to only use one year data, in this case we are going to use the `Combined_Flights_2022.csv` with the shape `(4078318, 61)` and the `Airlines.csv` for labeling if needed

The **Data Acquisition - Use Kaggle API** section can be re-run only in case we need to access the data from the kaggle API again. After this section we cleaned the data and saved it as CSV in the `/data/processed/` folder, accessed from there, then we'll create a DB with 2 tables `airlines` and `flights`, with the corresponding data and we'll work the data by retrieving it from the DB tables

In [2]:
!kaggle datasets files robikscube/flight-delay-dataset-20182022

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.7 / client 1.6.6)
name                            size  creationDate
-----------------------------  -----  -------------------
Combined_Flights_2018.parquet  215MB  2022-10-07 16:28:11
Combined_Flights_2021.parquet  232MB  2022-10-07 16:28:11
Combined_Flights_2019.parquet  294MB  2022-10-07 16:28:11
Combined_Flights_2018.csv        2GB  2022-10-07 16:28:11
readme.md                       36KB  2022-10-07 16:28:11
Combined_Flights_2019.csv        3GB  2022-10-07 16:28:11
readme.html                     14KB  2022-10-07 16:28:11
Airlines.csv                    38KB  2022-10-07 16:28:11
Combined_Flights_2022.parquet  143MB  2022-10-07 16:28:11
Combined_Flights_2022.csv        1GB  2022-10-07 16:28:11
Combined_Flights_2020.csv        2GB  2022-10-07 16:28:11
Combined_Flights_2021.csv        2GB  2022-10-07 16:28:11
Combined_Flights_2020.parquet  175MB  2022-10-07 16:28:11

In [10]:
!kaggle datasets download robikscube/flight-delay-dataset-20182022 -f Combined_Flights_2022.csv --path ../data/processed

Downloading Combined_Flights_2022.csv.zip to ../data/processed

  0%|          | 0.00/206M [00:00<?, ?B/s]
  0%|          | 1.00M/206M [00:00<01:14, 2.87MB/s]
  1%|          | 2.00M/206M [00:00<00:58, 3.67MB/s]
  1%|▏         | 3.00M/206M [00:00<00:43, 4.91MB/s]
  2%|▏         | 4.00M/206M [00:00<00:39, 5.33MB/s]
  2%|▏         | 5.00M/206M [00:01<00:40, 5.23MB/s]
  3%|▎         | 6.00M/206M [00:01<00:38, 5.40MB/s]
  3%|▎         | 7.00M/206M [00:01<00:40, 5.20MB/s]
  4%|▍         | 8.00M/206M [00:01<00:39, 5.24MB/s]
  4%|▍         | 9.00M/206M [00:01<00:36, 5.63MB/s]
  5%|▍         | 10.0M/206M [00:01<00:32, 6.39MB/s]
  5%|▌         | 11.0M/206M [00:02<00:31, 6.47MB/s]
  6%|▌         | 12.0M/206M [00:02<00:29, 6.82MB/s]
  6%|▋         | 13.0M/206M [00:02<00:27, 7.39MB/s]
  7%|▋         | 14.0M/206M [00:02<00:30, 6.55MB/s]
  7%|▋         | 15.0M/206M [00:02<00:28, 7.07MB/s]
  8%|▊         | 16.0M/206M [00:02<00:28, 7.01MB/s]
  8%|▊         | 17.0M/206M [00:02<00:27, 7.22MB/s]
  9%|▊         | 18.0M/206M [00:03<00:27, 7.19MB/s]
  9%|▉         | 19.0M/206M [00:03<00:29, 6.54MB/s]
 10%|▉         | 20.0M/206M [00:03<00:29, 6.66MB/s]
 10%|█         | 21.0M/206M [00:03<00:31, 6.08MB/s]
 11%|█         | 22.0M/206M [00:03<00:29, 6.62MB/s]
 11%|█         | 23.0M/206M [00:03<00:26, 7.21MB/s]
 12%|█▏        | 24.0M/206M [00:04<00:26, 7.26MB/s]
 12%|█▏        | 25.0M/206M [00:04<00:25, 7.50MB/s]
 13%|█▎        | 26.0M/206M [00:04<00:27, 6.91MB/s]
 13%|█▎        | 27.0M/206M [00:04<00:28, 6.55MB/s]
 14%|█▎        | 28.0M/206M [00:04<00:27, 6.71MB/s]
 14%|█▍        | 29.0M/206M [00:04<00:28, 6.60MB/s]
 15%|█▍        | 30.0M/206M [00:04<00:26, 7.06MB/s]
 15%|█▌        | 31.0M/206M [00:05<00:29, 6.17MB/s]
 16%|█▌        | 32.0M/206M [00:05<00:33, 5.42MB/s]
 16%|█▌        | 33.0M/206M [00:05<00:32, 5.66MB/s]
 17%|█▋        | 34.0M/206M [00:05<00:28, 6.24MB/s]
 17%|█▋        | 35.0M/206M [00:05<00:26, 6.70MB/s]
 17%|█▋        | 36.0M/206M [00:06<00:25, 6.98MB/s]
 18%|█▊        | 37.0M/206M [00:06<00:24, 7.33MB/s]
 18%|█▊        | 38.0M/206M [00:06<00:22, 7.78MB/s]
 19%|█▉        | 39.0M/206M [00:06<00:22, 7.93MB/s]
 19%|█▉        | 40.0M/206M [00:06<00:21, 8.06MB/s]
 20%|█▉        | 41.0M/206M [00:06<00:20, 8.35MB/s]
 20%|██        | 42.0M/206M [00:06<00:20, 8.53MB/s]
 21%|██        | 43.0M/206M [00:06<00:21, 8.08MB/s]
 21%|██▏       | 44.0M/206M [00:07<00:24, 6.97MB/s]
 22%|██▏       | 45.0M/206M [00:07<00:25, 6.56MB/s]
 22%|██▏       | 46.0M/206M [00:07<00:28, 5.92MB/s]
 23%|██▎       | 47.0M/206M [00:07<00:26, 6.31MB/s]
 23%|██▎       | 48.0M/206M [00:07<00:27, 6.09MB/s]
 24%|██▍       | 49.0M/206M [00:07<00:27, 6.08MB/s]
 24%|██▍       | 50.0M/206M [00:08<00:25, 6.42MB/s]
 25%|██▍       | 51.0M/206M [00:08<00:23, 7.06MB/s]
 25%|██▌       | 52.0M/206M [00:08<00:24, 6.64MB/s]
 26%|██▌       | 53.0M/206M [00:08<00:27, 5.87MB/s]
 26%|██▌       | 54.0M/206M [00:08<00:27, 5.87MB/s]
 27%|██▋       | 55.0M/206M [00:09<00:33, 4.67MB/s]
 27%|██▋       | 56.0M/206M [00:09<00:37, 4.17MB/s]
 28%|██▊       | 57.0M/206M [00:09<00:35, 4.35MB/s]
 28%|██▊       | 58.0M/206M [00:09<00:37, 4.17MB/s]
 29%|██▊       | 59.0M/206M [00:10<00:36, 4.17MB/s]
 29%|██▉       | 60.0M/206M [00:10<00:33, 4.59MB/s]
 30%|██▉       | 61.0M/206M [00:10<00:31, 4.90MB/s]
 30%|███       | 62.0M/206M [00:10<00:33, 4.56MB/s]
 31%|███       | 63.0M/206M [00:11<00:31, 4.80MB/s]
 31%|███       | 64.0M/206M [00:11<00:30, 4.95MB/s]
 32%|███▏      | 65.0M/206M [00:11<00:26, 5.58MB/s]
 32%|███▏      | 66.0M/206M [00:11<00:24, 6.00MB/s]
 33%|███▎      | 67.0M/206M [00:11<00:22, 6.44MB/s]
 33%|███▎      | 68.0M/206M [00:11<00:21, 6.69MB/s]
 34%|███▎      | 69.0M/206M [00:11<00:21, 6.68MB/s]
 34%|███▍      | 70.0M/206M [00:12<00:20, 6.96MB/s]
 34%|███▍      | 71.0M/206M [00:12<00:22, 6.40MB/s]
 35%|███▍      | 72.0M/206M [00:12<00:20, 6.71MB/s]
 35%|███▌      | 73.0M/206M [00:12<00:22, 6.20MB/s]
 36%|███▌      | 74.0M/206M [00:12<00:21, 6.39MB/s]
 36%|███▋      | 75.0M/206M [00:12<00:21, 6.48MB/s]
 37%|███▋      | 76.0M/206M [00:13<00:23, 5.80MB/s]
 37%|███▋      | 77.0M/206M [00:13<00:24, 5.61MB/s]
 38%|███▊      | 78.0M/206M [00:13<00:24, 5.45MB/s]
 38%|███▊      | 79.0M/206M [00:13<00:22, 6.02MB/s]
 39%|███▉      | 80.0M/206M [00:13<00:21, 6.14MB/s]
 39%|███▉      | 81.0M/206M [00:13<00:20, 6.52MB/s]
 40%|███▉      | 82.0M/206M [00:14<00:21, 6.08MB/s]
 40%|████      | 83.0M/206M [00:14<00:21, 6.11MB/s]
 41%|████      | 84.0M/206M [00:14<00:20, 6.28MB/s]
 41%|████▏     | 85.0M/206M [00:14<00:18, 6.97MB/s]
 42%|████▏     | 86.0M/206M [00:14<00:17, 7.18MB/s]
 42%|████▏     | 87.0M/206M [00:14<00:18, 6.73MB/s]
 43%|████▎     | 88.0M/206M [00:15<00:21, 5.77MB/s]
 43%|████▎     | 89.0M/206M [00:15<00:21, 5.61MB/s]
 44%|████▎     | 90.0M/206M [00:15<00:19, 6.24MB/s]
 44%|████▍     | 91.0M/206M [00:15<00:19, 6.18MB/s]
 45%|████▍     | 92.0M/206M [00:15<00:17, 6.96MB/s]
 45%|████▌     | 93.0M/206M [00:16<00:21, 5.55MB/s]
 46%|████▌     | 94.0M/206M [00:16<00:37, 3.10MB/s]
 46%|████▌     | 95.0M/206M [00:16<00:30, 3.84MB/s]
 47%|████▋     | 96.0M/206M [00:17<00:35, 3.24MB/s]
 47%|████▋     | 97.0M/206M [00:17<00:29, 3.85MB/s]
 48%|████▊     | 98.0M/206M [00:17<00:26, 4.25MB/s]
 48%|████▊     | 99.0M/206M [00:17<00:29, 3.85MB/s]
 49%|████▊     | 100M/206M [00:18<00:25, 4.41MB/s]
 49%|████▉     | 101M/206M [00:18<00:25, 4.38MB/s]
 50%|████▉     | 102M/206M [00:18<00:25, 4.35MB/s]
 50%|█████     | 103M/206M [00:18<00:23, 4.61MB/s]
 51%|█████     | 104M/206M [00:18<00:21, 5.01MB/s]
 51%|█████     | 105M/206M [00:19<00:20, 5.29MB/s]
 51%|█████▏    | 106M/206M [00:19<00:20, 5.02MB/s]
 52%|█████▏    | 107M/206M [00:19<00:22, 4.54MB/s]
 52%|█████▏    | 108M/206M [00:19<00:25, 4.09MB/s]
 53%|█████▎    | 109M/206M [00:20<00:25, 3.93MB/s]
 53%|█████▎    | 110M/206M [00:20<00:27, 3.69MB/s]
 54%|█████▍    | 111M/206M [00:20<00:27, 3.62MB/s]
 54%|█████▍    | 112M/206M [00:21<00:30, 3.26MB/s]
 55%|█████▍    | 113M/206M [00:21<00:30, 3.23MB/s]
 55%|█████▌    | 114M/206M [00:21<00:27, 3.47MB/s]
 56%|█████▌    | 115M/206M [00:22<00:24, 3.81MB/s]
 56%|█████▋    | 116M/206M [00:22<00:23, 4.02MB/s]
 57%|█████▋    | 117M/206M [00:22<00:23, 3.94MB/s]
 57%|█████▋    | 118M/206M [00:22<00:26, 3.54MB/s]
 58%|█████▊    | 119M/206M [00:23<00:27, 3.36MB/s]
 58%|█████▊    | 120M/206M [00:23<00:25, 3.51MB/s]
 59%|█████▉    | 121M/206M [00:23<00:21, 4.10MB/s]
 59%|█████▉    | 122M/206M [00:23<00:18, 4.72MB/s]
 60%|█████▉    | 123M/206M [00:24<00:18, 4.79MB/s]
 60%|██████    | 124M/206M [00:24<00:16, 5.11MB/s]
 61%|██████    | 125M/206M [00:24<00:15, 5.57MB/s]
 61%|██████    | 126M/206M [00:24<00:13, 6.02MB/s]
 62%|██████▏   | 127M/206M [00:24<00:13, 5.99MB/s]
 62%|██████▏   | 128M/206M [00:24<00:14, 5.61MB/s]
 63%|██████▎   | 129M/206M [00:25<00:15, 5.10MB/s]
 63%|██████▎   | 130M/206M [00:25<00:15, 4.98MB/s]
 64%|██████▎   | 131M/206M [00:25<00:14, 5.50MB/s]
 64%|██████▍   | 132M/206M [00:25<00:12, 6.22MB/s]
 65%|██████▍   | 133M/206M [00:25<00:11, 6.57MB/s]
 65%|██████▌   | 134M/206M [00:25<00:10, 6.89MB/s]
 66%|██████▌   | 135M/206M [00:26<00:10, 7.11MB/s]
 66%|██████▌   | 136M/206M [00:26<00:10, 7.24MB/s]
 67%|██████▋   | 137M/206M [00:26<00:09, 7.40MB/s]
 67%|██████▋   | 138M/206M [00:26<00:09, 7.57MB/s]
 68%|██████▊   | 139M/206M [00:26<00:09, 7.43MB/s]
 68%|██████▊   | 140M/206M [00:26<00:11, 6.13MB/s]
 68%|██████▊   | 141M/206M [00:27<00:10, 6.54MB/s]
 69%|██████▉   | 142M/206M [00:27<00:10, 6.47MB/s]
 69%|██████▉   | 143M/206M [00:27<00:09, 6.95MB/s]
 70%|██████▉   | 144M/206M [00:27<00:08, 7.50MB/s]
 70%|███████   | 145M/206M [00:27<00:08, 7.76MB/s]
 71%|███████   | 146M/206M [00:27<00:07, 8.10MB/s]
 71%|███████▏  | 147M/206M [00:27<00:07, 8.48MB/s]
 72%|███████▏  | 148M/206M [00:27<00:06, 8.78MB/s]
 72%|███████▏  | 149M/206M [00:28<00:07, 8.39MB/s]
 73%|███████▎  | 150M/206M [00:28<00:06, 8.50MB/s]
 73%|███████▎  | 151M/206M [00:28<00:06, 8.55MB/s]
 74%|███████▍  | 152M/206M [00:28<00:06, 8.69MB/s]
 74%|███████▍  | 153M/206M [00:28<00:06, 8.25MB/s]
 75%|███████▍  | 154M/206M [00:28<00:06, 8.14MB/s]
 75%|███████▌  | 155M/206M [00:28<00:06, 8.38MB/s]
 76%|███████▌  | 156M/206M [00:28<00:06, 8.33MB/s]
 76%|███████▌  | 157M/206M [00:29<00:06, 7.43MB/s]
 77%|███████▋  | 158M/206M [00:29<00:06, 7.32MB/s]
 77%|███████▋  | 159M/206M [00:29<00:06, 7.60MB/s]
 78%|███████▊  | 160M/206M [00:29<00:06, 7.78MB/s]
 78%|███████▊  | 161M/206M [00:29<00:05, 7.93MB/s]
 79%|███████▊  | 162M/206M [00:29<00:05, 8.44MB/s]
 79%|███████▉  | 163M/206M [00:29<00:05, 8.06MB/s]
 80%|███████▉  | 164M/206M [00:29<00:05, 8.32MB/s]
 80%|████████  | 165M/206M [00:30<00:05, 8.40MB/s]
 81%|████████  | 166M/206M [00:30<00:04, 8.52MB/s]
 81%|████████  | 167M/206M [00:30<00:04, 8.61MB/s]
 82%|████████▏ | 168M/206M [00:30<00:04, 8.61MB/s]
 82%|████████▏ | 169M/206M [00:30<00:04, 8.14MB/s]
 83%|████████▎ | 170M/206M [00:30<00:04, 8.27MB/s]
 83%|████████▎ | 171M/206M [00:30<00:04, 8.48MB/s]
 84%|████████▎ | 172M/206M [00:31<00:04, 7.29MB/s]
 84%|████████▍ | 173M/206M [00:31<00:04, 7.06MB/s]
 85%|████████▍ | 174M/206M [00:31<00:05, 6.68MB/s]
 85%|████████▍ | 175M/206M [00:31<00:04, 7.12MB/s]
 85%|████████▌ | 176M/206M [00:31<00:04, 7.00MB/s]
 86%|████████▌ | 177M/206M [00:31<00:03, 7.68MB/s]
 86%|████████▋ | 178M/206M [00:31<00:03, 8.02MB/s]
 87%|████████▋ | 179M/206M [00:32<00:04, 6.59MB/s]
 87%|████████▋ | 180M/206M [00:32<00:04, 6.10MB/s]
 88%|████████▊ | 181M/206M [00:32<00:03, 6.64MB/s]
 88%|████████▊ | 182M/206M [00:32<00:03, 7.19MB/s]
 89%|████████▉ | 184M/206M [00:32<00:03, 7.63MB/s]
 90%|████████▉ | 185M/206M [00:32<00:03, 6.88MB/s]
 90%|█████████ | 186M/206M [00:33<00:03, 6.93MB/s]
 91%|█████████ | 187M/206M [00:33<00:03, 5.83MB/s]
 91%|█████████▏| 188M/206M [00:33<00:03, 5.58MB/s]
 92%|█████████▏| 189M/206M [00:33<00:02, 6.06MB/s]
 92%|█████████▏| 190M/206M [00:33<00:02, 6.73MB/s]
 93%|█████████▎| 191M/206M [00:33<00:02, 7.46MB/s]
 93%|█████████▎| 192M/206M [00:34<00:01, 7.90MB/s]
 94%|█████████▎| 193M/206M [00:34<00:01, 7.04MB/s]
 94%|█████████▍| 194M/206M [00:34<00:01, 7.23MB/s]
 95%|█████████▍| 195M/206M [00:34<00:01, 6.65MB/s]
 95%|█████████▌| 196M/206M [00:34<00:01, 7.23MB/s]
 96%|█████████▌| 197M/206M [00:34<00:01, 7.08MB/s]
 96%|█████████▌| 198M/206M [00:34<00:01, 7.25MB/s]
 97%|█████████▋| 199M/206M [00:35<00:01, 6.56MB/s]
 97%|█████████▋| 200M/206M [00:35<00:00, 7.16MB/s]
 98%|█████████▊| 201M/206M [00:35<00:00, 7.42MB/s]
 98%|█████████▊| 202M/206M [00:35<00:00, 7.60MB/s]
 99%|█████████▊| 203M/206M [00:35<00:00, 7.59MB/s]
 99%|█████████▉| 204M/206M [00:35<00:00, 7.69MB/s]
100%|█████████▉| 205M/206M [00:35<00:00, 7.90MB/s]
100%|██████████| 206M/206M [00:36<00:00, 8.22MB/s]
100%|██████████| 206M/206M [00:36<00:00, 5.99MB/s]

In [11]:
!kaggle datasets download robikscube/flight-delay-dataset-20182022 -f Airlines.csv --path ../data/processed --unzip

Downloading Airlines.csv to ../data/processed

  0%|          | 0.00/38.1k [00:00<?, ?B/s]
100%|██████████| 38.1k/38.1k [00:00<00:00, 623kB/s]

In [12]:
with zipfile.ZipFile('../data/processed/Combined_Flights_2022.csv.zip', 'r') as zip_ref:
    # Extract all the contents to the specified directory
    zip_ref.extractall('../data/processed/')

In [15]:
def remove_compressed():
    os.remove('../data/processed/Combined_Flights_2022.csv.zip')

In [16]:
remove_compressed()

### Data Acquisition - Clean and Store Data to CSV

In [8]:
data = pd.read_csv('../data/processed/Combined_Flights_2022.csv')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078318 entries, 0 to 4078317
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               object
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       int64
dtypes: bool(2), float64(18), int64(23), object(18)
memory usage: 1.8+ GB

In [10]:
data.describe()

,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,...,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,DistanceGroup,DivAirportLandings
count,4.078318e+06,3.957885e+06,3.957823e+06,3.957823e+06,3.954079e+06,3.944916e+06,3.944916e+06,4.078318e+06,3.944916e+06,4.078318e+06,...,3.955652e+06,3.955652e+06,3.954076e+06,3.954076e+06,4.078318e+06,3.944916e+06,3.944916e+06,3.944916e+06,4.078318e+06,4.078318e+06
mean,1.329587e+03,1.334374e+03,1.601494e+01,1.309049e+01,1.457886e+03,1.578307e+01,1.110075e+02,1.413211e+02,1.358624e+02,7.978657e+02,...,1.697375e+01,1.356576e+03,1.455073e+03,7.894387e+00,1.486058e+03,7.528486e+00,2.164715e-01,-6.256103e-02,3.663516e+00,3.685098e-03
std,4.904801e+02,5.056219e+02,5.231498e+01,5.332016e+01,5.431841e+02,5.198424e+01,6.996246e+01,7.179635e+01,7.185501e+01,5.914742e+02,...,9.495407e+00,5.075580e+02,5.378428e+02,6.663118e+00,5.185078e+02,5.524625e+01,4.118393e-01,2.487442e+00,2.320848e+00,1.141331e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,-7.800000e+01,1.000000e+00,0.000000e+00,8.000000e+00,-4.800000e+01,1.400000e+01,3.100000e+01,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+02,0.000000e+00,-2.000000e+00,1.000000e+00,0.000000e+00
25%,9.140000e+02,9.170000e+02,0.000000e+00,-5.000000e+00,1.046000e+03,0.000000e+00,6.000000e+01,8.900000e+01,8.300000e+01,3.680000e+02,...,1.100000e+01,9.320000e+02,1.044000e+03,4.000000e+00,1.103000e+03,-1.400000e+01,0.000000e+00,-1.000000e+00,2.000000e+00,0.000000e+00
50%,1.320000e+03,1.325000e+03,0.000000e+00,-2.000000e+00,1.500000e+03,0.000000e+00,9.400000e+01,1.240000e+02,1.190000e+02,6.430000e+02,...,1.500000e+01,1.338000e+03,1.456000e+03,6.000000e+00,1.513000e+03,-5.000000e+00,0.000000e+00,-1.000000e+00,3.000000e+00,0.000000e+00
75%,1.735000e+03,1.744000e+03,1.100000e+01,1.100000e+01,1.914000e+03,1.000000e+01,1.410000e+02,1.710000e+02,1.670000e+02,1.035000e+03,...,1.900000e+01,1.758000e+03,1.909000e+03,9.000000e+00,1.920000e+03,1.000000e+01,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00
max,2.359000e+03,2.400000e+03,7.223000e+03,7.223000e+03,2.400000e+03,7.232000e+03,7.270000e+02,6.900000e+02,7.640000e+02,5.095000e+03,...,2.210000e+02,2.400000e+03,2.400000e+03,2.900000e+02,2.359000e+03,7.232000e+03,1.000000e+00,1.200000e+01,1.100000e+01,9.000000e+00

In [11]:
def check_nulls(df):
    # Assuming df is your DataFrame
    # Check for null values in each column
    percentage = 10
    percent = (percentage * len(df)) / 100
    null_counts = df.isnull().sum()

    # Filter columns with null values and print their sum
    columns_with_nulls_ten = null_counts[null_counts > percent]
    columns_with_nulls = null_counts[null_counts > 0]
    if len(columns_with_nulls_ten) > 0:
        for column, count in columns_with_nulls.items():
            print(f"Column '{column}' has {count} null values.")
    else:
        print("The null values in the dataframe don't exceed {percent} values or {percentage}% of the total data".format(percent=percent, percentage=percentage))
        print("Depending on Duplicated values we might want to consider dropping them since that low percentage of null values would hardly make any difference in the EDA or the model creation and prediction")

In [12]:
check_nulls(data)

The null values in the dataframe don't exceed 407831.8 values or 10% of the total data
Depending on Duplicated values we might want to consider dropping them since that low percentage of null values would hardly make any difference in the EDA or the model creation and prediction

In [13]:
# data.duplicated().sum()

In [14]:
def treat_nulls(value):
    if pd.isnull(value):
        return 0
    else:
        return int(value)
    
# Define a function to transform values
def transform_time(value):
    if isinstance(value, int):
        value = str(value)  # Convert integer to string
    value = value.zfill(4)  # Pad with leading zeros if necessary
    if len(value) == 4:
        if int(value) == 2400:
            return '00:00'
        if int(value) < 10:  # For values less than 10
            return f'00:0{value[0]}'
        elif int(value) < 100:  # For values between 10 and 100
            return f'00:{value[:2]}'
        else:  # For values over 100
            return f'{value[:2]}:{value[2:]}'
    else:
        return value[:2] + ':' + value[2:]  # Format as 'HH:MM'

In [15]:
def format_dates():
    data['FlightDate'] = pd.to_datetime(data['FlightDate'])

    # Format time WheelsOff
    data['WheelsOff'] = data['WheelsOff'].apply(treat_nulls)
    data['WheelsOff'] = data['WheelsOff'].apply(transform_time)
    data['WheelsOff'] = pd.to_datetime(data['WheelsOff'], format='%H:%M').dt.time

    # Format time WheelsOn
    data['WheelsOn'] = data['WheelsOn'].apply(treat_nulls)
    data['WheelsOn'] = data['WheelsOn'].apply(transform_time)
    data['WheelsOn'] = pd.to_datetime(data['WheelsOn'], format='%H:%M').dt.time

    # Format time ArrTime
    data['ArrTime'] = data['ArrTime'].apply(treat_nulls)
    data['ArrTime'] = data['ArrTime'].apply(transform_time)
    data['ArrTime'] = pd.to_datetime(data['ArrTime'], format='%H:%M').dt.time


    # Format time DepTime
    data['DepTime'] = data['DepTime'].apply(treat_nulls)
    data['DepTime'] = data['DepTime'].apply(transform_time)
    data['DepTime'] = pd.to_datetime(data['DepTime'], format='%H:%M').dt.time

In [16]:
format_dates()

In [17]:
origins = data[['OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName', 'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac']]
origins.drop_duplicates(inplace=True)
origins.to_csv('../data/processed/origins.csv', index = False)

In [18]:
destinations = data[['DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest', 'DestCityName', 'DestState', 'DestStateFips', 'DestStateName', 'DestWac']]
destinations.drop_duplicates(inplace=True)
destinations.to_csv('../data/processed/destinations.csv', index = False)

In [19]:
data.drop(
    columns=[
        'CRSDepTime',
        'ActualElapsedTime',
        'CRSArrTime',
        'OriginAirportSeqID',
        'OriginCityMarketID',
        'Origin',
        'OriginCityName',
        'OriginState',
        'OriginStateFips',
        'OriginStateName',
        'OriginWac',
        'TaxiIn',
        'TaxiOut',
        'ArrDel15',
        'ArrivalDelayGroups',
        'ArrTimeBlk',
        'DistanceGroup',
        'CRSDepTime',
        'DepDel15',
        'DepartureDelayGroups',
        'DepTimeBlk',
        'DestAirportSeqID',
        'DestCityMarketID',
        'Dest',
        'DestCityName',
        'DestState',
        'DestStateFips',
        'DestStateName',
        'DestWac',
        'CRSArrTime',
        'CRSElapsedTime'
    ], 
    inplace=True
)

In [20]:
colms = data.columns

print(colms)

Index(['FlightDate', 'Airline', 'Cancelled', 'Diverted', 'DepTime',
       'DepDelayMinutes', 'DepDelay', 'ArrTime', 'ArrDelayMinutes', 'AirTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'DestAirportID', 'WheelsOff', 'WheelsOn', 'ArrDelay',
       'DivAirportLandings'],
      dtype='object')

In [21]:
data.to_csv('../data/processed/Combined_Flights_2022.csv', index = False)

In [22]:
data = pd.read_csv('../data/processed/Combined_Flights_2022.csv')
origins = pd.read_csv('../data/processed/origins.csv')
destinations = pd.read_csv('../data/processed/destinations.csv')
airlines = pd.read_csv('../data/processed/Airlines.csv')

In [23]:
data.columns

Index(['FlightDate', 'Airline', 'Cancelled', 'Diverted', 'DepTime',
       'DepDelayMinutes', 'DepDelay', 'ArrTime', 'ArrDelayMinutes', 'AirTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'DestAirportID', 'WheelsOff', 'WheelsOn', 'ArrDelay',
       'DivAirportLandings'],
      dtype='object')

In [24]:
data.head()

,FlightDate,Airline,Cancelled,Diverted,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,...,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,DestAirportID,WheelsOff,WheelsOn,ArrDelay,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",False,False,11:23:00,0.0,-10.0,12:28:00,0.0,40.0,...,20445,C5,N21144,4301,11921,11292,11:40:00,12:20:00,-17.0,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",False,False,07:28:00,0.0,-4.0,08:48:00,0.0,55.0,...,20445,C5,N16170,4299,12206,12266,07:44:00,08:39:00,-1.0,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",False,False,15:14:00,0.0,-15.0,16:36:00,0.0,47.0,...,20445,C5,N21144,4298,11413,11292,15:35:00,16:22:00,-3.0,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",False,False,14:30:00,0.0,-5.0,15:47:00,0.0,57.0,...,20445,C5,N11184,4296,12266,11973,14:46:00,15:43:00,-18.0,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",False,False,11:35:00,0.0,0.0,12:51:00,6.0,49.0,...,20445,C5,N17146,4295,11413,11292,11:54:00,12:43:00,6.0,0

In [25]:
data.Cancelled.dtype

dtype('bool')

In [26]:
origins.head()

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
0,11921,1192102,31921,GJT,"Grand Junction, CO",CO,8,Colorado,82
1,12206,1220605,32206,HRL,"Harlingen/San Benito, TX",TX,48,Texas,74
2,11413,1141307,30285,DRO,"Durango, CO",CO,8,Colorado,82
3,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74
4,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82

In [27]:
destinations.head()

,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac
0,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
1,12266,1226603,31453,IAH,"Houston, TX",TX,48,Texas,74
2,11973,1197302,31973,GPT,"Gulfport/Biloxi, MS",MS,28,Mississippi,53
3,15370,1537002,34653,TUL,"Tulsa, OK",OK,40,Oklahoma,73
4,12915,1291503,31205,LCH,"Lake Charles, LA",LA,22,Louisiana,72

In [28]:
airlines.head()

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

From a bussines perspective point of view I wouldn't impute null values, since, for example, DepTime might be null because the flight might have been cancelled and if we impute or drop that registry we might affect the future predictions or even the hypothesis

### Data Acquisition - Database Creation

In [29]:
load_dotenv()

con = sqlite3.connect("../flight-information.db")
cur = con.cursor()

In [30]:
def map_to_bool(cols):
    mapping = {True: 1, False: 0}
    cols = list(cols)

    for c in cols:
        # Convert boolean values to integers (0 and 1)
        data[c] = data[c].astype(int)
    # for c in cols:
    #     #data[c] = data[c].map(mapping)
    #     data[c] = data[c].astype('int')

In [31]:
map_to_bool(['Cancelled', 'Diverted'])

In [32]:
data['Diverted'].unique()

array([0, 1])

In [33]:
airlines.columns

Index(['Code', 'Description'], dtype='object')

In [34]:
airlines_cols = {
    'Code': 'VARCHAR(50)', 
    'Description': 'VARCHAR(100)'
}

orgs_cols = {
    'OriginAirportID': 'INTEGER',
    'OriginAirportSeqID': 'INTEGER',
    'OriginCityMarketID': 'INTEGER',
    'Origin': 'VARCHAR(10)',
    'OriginCityName': 'VARCHAR(60)',
    'OriginState': 'VARCHAR(10)',
    'OriginStateFips': 'INTEGER',
    'OriginStateName': 'VARCHAR(60)',
    'OriginWac': 'INTEGER',
}
dests_cols = {
    'DestAirportID': 'INTEGER',
    'DestAirportSeqID': 'INTEGER',
    'DestCityMarketID': 'INTEGER',
    'Dest': 'VARCHAR(10)',
    'DestCityName': 'VARCHAR(60)',
    'DestState': 'VARCHAR(10)',
    'DestStateFips': 'INTEGER',
    'DestStateName': 'VARCHAR(60)',
    'DestWac': 'INTEGER',
}

main_cols = {
    'FlightDate': 'DATE',
    'Airline': 'VARCHAR(100)',
    'Cancelled': 'BOOLEAN',
    'Diverted': 'BOOLEAN',
    'DepTime': 'TIME',
    'DepDelayMinutes': 'NUMERIC',
    'DepDelay': 'NUMERIC',
    'ArrTime': 'TIME',
    'ArrDelayMinutes': 'NUMERIC',
    'AirTime': 'NUMERIC',
    'Distance': 'NUMERIC',
    'Year': 'INT',
    'Quarter': 'INT',
    'Month': 'INT',
    'DayofMonth': 'INT',
    'DayOfWeek': 'INT',
    'Marketing_Airline_Network': 'VARCHAR(10)',
    'Operated_or_Branded_Code_Share_Partners': 'VARCHAR(20)',
    'DOT_ID_Marketing_Airline': 'INT',
    'IATA_Code_Marketing_Airline': 'VARCHAR(10)',
    'Flight_Number_Marketing_Airline': 'INT',
    'Operating_Airline': 'VARCHAR(5)',
    'DOT_ID_Operating_Airline': 'INT',
    'IATA_Code_Operating_Airline': 'VARCHAR(5)',
    'Tail_Number': 'VARCHAR(20)', 
    'Flight_Number_Operating_Airline': 'INT',
    'OriginAirportID': 'INT',
    'DestAirportID': 'INT',
    'WheelsOff': 'TIME',
    'WheelsOn': 'TIME',
    'ArrDelay': 'NUMERIC',
    'DivAirportLandings': 'INT' 
}

In [35]:
main_table = f"""
CREATE TABLE flights(
    {", ".join([f"{col} {dtype}" for col, dtype in main_cols.items()])}
)
"""
origins_table = f"""
CREATE TABLE origins(
    {", ".join([f"{col} {dtype}" for col, dtype in orgs_cols.items()])}
)
"""
dests_table = f"""
CREATE TABLE destinations(
    {", ".join([f"{col} {dtype}" for col, dtype in dests_cols.items()])}
)
"""
airlines_table = f"""
CREATE TABLE airlines(
    {", ".join([f"{col} {dtype}" for col, dtype in airlines_cols.items()])}
)
"""

con.execute(main_table)
con.execute(origins_table)
con.execute(dests_table)
con.execute(airlines_table)





# Iterate over rows in the DataFrame and insert data using parameterized queries
for index, row in data.iterrows():
    # Define the SQL query with placeholders for parameters
    insert_sql = f"""
    INSERT INTO flights ({", ".join(main_cols.keys())}) 
    VALUES ({", ".join(['?' for _ in main_cols.keys()])})
    """
    # Extract values from the row as a tuple
    values = tuple(row[col] for col in main_cols.keys())
    
    # Execute the SQL statement with parameterized values
    cur.execute(insert_sql, values)

# Commit the transaction
con.commit()


for index, row in origins.iterrows():
    # Define the SQL query with placeholders for parameters
    insert_sql = f"""
    INSERT INTO origins ({", ".join(orgs_cols.keys())}) 
    VALUES ({", ".join(['?' for _ in orgs_cols.keys()])})
    """
    # Extract values from the row as a tuple
    values = tuple(row[col] for col in orgs_cols.keys())
    
    # Execute the SQL statement with parameterized values
    cur.execute(insert_sql, values)

# Commit the transaction
con.commit()


for index, row in destinations.iterrows():
    # Define the SQL query with placeholders for parameters
    insert_sql = f"""
    INSERT INTO destinations ({", ".join(dests_cols.keys())}) 
    VALUES ({", ".join(['?' for _ in dests_cols.keys()])})
    """
    # Extract values from the row as a tuple
    values = tuple(row[col] for col in dests_cols.keys())
    
    # Execute the SQL statement with parameterized values
    cur.execute(insert_sql, values)

# Commit the transaction
con.commit()


for index, row in airlines.iterrows():
    # Define the SQL query with placeholders for parameters
    insert_sql = f"""
    INSERT INTO airlines ({", ".join(airlines_cols.keys())}) 
    VALUES ({", ".join(['?' for _ in airlines_cols.keys()])})
    """
    # Extract values from the row as a tuple
    values = tuple(row[col] for col in airlines_cols.keys())
    
    # Execute the SQL statement with parameterized values
    cur.execute(insert_sql, values)

# Commit the transaction
con.commit()

### Data Acquisition - Queries to obtain the data

In [36]:
def get_information():
    sql_query = """
    SELECT 
    flights.*, 
    destinations.DestAirportSeqID,
    destinations.DestCityMarketID,
    destinations.Dest,
    destinations.DestCityName,
    destinations.DestState,
    destinations.DestStateFips,
    destinations.DestStateName,
    destinations.DestWac,
    origins.OriginAirportSeqID,
    origins.OriginCityMarketID,
    origins.Origin,
    origins.OriginCityName,
    origins.OriginState,
    origins.OriginStateFips,
    origins.OriginStateName,
    origins.OriginWac
    FROM flights
    INNER JOIN origins ON flights.OriginAirportID = origins.OriginAirportID
    INNER JOIN destinations ON flights.DestAirportID = destinations.DestAirportID
    """
    return pd.read_sql_query(sql_query, con)

In [37]:
df = get_information()

In [39]:
cur.close()
con.close()